scaling required when we using concepts of eudiean distance or gradient desent 
scaling in not used desion tree's

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('netflix.csv')

In [3]:
df.drop('date_added',axis=1,inplace=True)

In [4]:
df.director.fillna('Not Mention',inplace=True)

In [5]:
most_cast=df.cast.mode()[0]

In [6]:
df.cast.fillna(most_cast,inplace=True)

In [7]:
df.rating.fillna(method='pad',inplace=True)

In [8]:
df.isnull().sum()

show_id           0
type              0
title             0
director          0
cast              0
country         476
release_year      0
rating            0
duration          0
listed_in         0
description       0
dtype: int64

In [9]:
df.head()

,show_id,type,title,director,cast,country,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,Not Mention,Jandino Asporaat,United Kingdom,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,Not Mention,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,Not Mention,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [41]:
df=pd.read_csv('data.csv')

In [42]:
df.RM.fillna(method='pad',inplace=True)

In [43]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [44]:
df.drop('CHAS',axis=1,inplace=True)

In [45]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [63]:
test=df

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x=df.iloc[:,0:-1]

In [17]:
x.shape

(511, 12)

In [18]:
y=df.iloc[:,-1:]

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.2,random_state=2)

In [20]:
medv=LinearRegression()

In [21]:
medv.fit(x_train,y_train)

LinearRegression()

In [22]:
c=medv.predict(x_test)

In [23]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(x,y)

StandardScaler()

In [24]:
df_sc=sc.fit_transform(df)
dff=pd.DataFrame(df_sc,columns=df.columns)

In [25]:
x=dff.iloc[:,0:-1]

In [26]:
y=dff.iloc[:,-1:]

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.2,random_state=2)

In [28]:
medv=LinearRegression()

In [29]:
medv.fit(x_train,y_train)

LinearRegression()

In [30]:
dff.head(104)

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,-0.418162,0.290691,-1.296065,-0.145462,0.411742,-0.121697,0.146011,-0.977576,-0.664367,-1.455741,0.443853,-1.014091,0.139083
1,-0.415709,-0.484767,-0.598270,-0.744435,0.191872,0.366340,0.564360,-0.862368,-0.986295,-0.318443,0.443853,-0.480058,-0.114216
2,-0.415712,-0.484767,-0.598270,-0.744435,1.282657,-0.267752,0.564360,-0.862368,-0.986295,-0.318443,0.399027,-1.136046,1.268373
3,-0.415118,-0.484767,-1.315123,-0.839924,1.015672,-0.812787,1.086688,-0.747160,-1.105528,0.090984,0.418852,-1.275973,1.131170
4,-0.410831,-0.484767,-1.315123,-0.839924,1.228403,-0.513552,1.086688,-0.747160,-1.105528,0.090984,0.443853,-0.969161,1.426685
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,-0.410883,-0.484767,-1.211040,-0.952774,1.612462,-0.217880,-0.137689,-0.862368,-0.783599,-0.227459,0.443853,-0.858760,1.110062
100,-0.401526,-0.484767,-0.379843,-0.301716,0.628757,0.401963,-0.479866,-0.516744,-0.139743,1.091806,0.420284,-0.444114,0.508477
101,-0.405540,-0.484767,-0.379843,-0.301716,0.705854,0.095604,-0.442519,-0.516744,-0.139743,1.091806,0.429315,-0.668767,0.402936
102,-0.392164,-0.484767,-0.379843,-0.301716,0.169028,0.597891,-0.509963,-0.516744,-0.139743,1.091806,-3.147805,-0.288782,-0.430839
103,-0.394169,-0.484767,-0.379843,-0.301716,-0.213603,0.669137,-0.509963,-0.516744,-0.139743,1.091806,0.417089,0.071947,-0.356960

# standazation means centaring all values to zero
z=(x-x_mean)/s.d. it bring it to zero

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.2,random_state=2)

In [32]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()#
sc.fit(x,y)

StandardScaler()

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
kk=LinearRegression()

In [35]:
kk.fit(x,y)

LinearRegression()

In [36]:
kk.score(x_test,y_test)

0.599714068683346

# MIN_MAX  SCALING IT CONVERT DATA IN PERTUCULAR RANGE

In [59]:
from sklearn.model_selection import train_test_split
x=test.iloc[:,:-1]
y=test.iloc[:,-1:]
from sklearn.preprocessing import MinMaxScaler

In [60]:
mn=MinMaxScaler(feature_range=(0,20))
mn.fit(x,y)
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.2,random_state=10)

In [61]:
kk.fit(x,y)

LinearRegression()

In [62]:
kk.score(x_test,y_test)

0.6170716984010034

# ROBUST SCLAR
Z=(X-X_MEAN)/IQR   IQR=75-25 OF ALL THE DATA QUNTILE

In [70]:
from sklearn.preprocessing import RobustScaler
rs=RobustScaler()
rs_df=pd.DataFrame(rs.fit_transform(df),columns=df.columns)
from sklearn.model_selection import train_test_split
x=rs_df.iloc[:,:-1]
y=rs_df.iloc[:,-1:]
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.2,random_state=10)
kk.fit(x,y)
kk.score(x_test,y_test)

0.617071698401003